/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	padding-bottom: 40px;
	color: #666666;
}


/* -------------------------------------------- */
/* Carousel */
.carousel {
	margin-bottom: 2em;
}

.carousel img.small {
	height: 400px;
}

.carousel .item img { max-height: 400px; margin: auto;}

@media (min-width: 1200px) {
.carousel .item img { max-height: 600px; margin: auto;}
} /*end media*/


form ul { list-style:none;}

/* -------------------------------------------- */
/*   ########   CUSTOM    ######### */
/*#design { color: #839457;font-size: 0.9em;}*/
#design img {vertical-align:middle;margin-left:2px;width:32px;height:32px;}
#design a { color: #839457; text-decoration:none;}

.footer {
	-webkit-box-shadow:	inset 0 10px 15px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:	inset 0 10px 15px rgba(0, 0, 0, 0.1);
 	box-shadow:	inset 0 10px 15px rgba(0, 0, 0, 0.1);
}
#logo {height:100px;}

.nav { margin: 30px 0;}
.container.navbar-wrapper {
	margin: 1em 0 1em 0;
}
.head-space {margin-top: 1em;}
.tail-space {margin-bottom: 1em;}
.head-space-2x {margin-top: 2em;}
.tail-space-2x {margin-bottom: 2em;}
.note {font-size: 0.8em;}
#social-icons {font-size: 48px;margin: -14px 0 0 100px;}
#social-icons a {text-decoration:none;}
#social-icons i:hover {color:#666;}

address {font-size: 18px;}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #999999;
}

a,
a:hover {color: #666666;}

footer {font-size: 0.9em;margin-top: 2em;}
