/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	padding-bottom: 40px;
	color: #666666;
}

/* Carousel base class */
.carousel {
	margin-bottom: 2em;
}

.carousel img.small {
	height: 400px;
}



.carousel .item img { max-height: 400px; margin: auto;}

@media (min-width: 1200px) { 
.carousel .item img { max-height: 600px; margin: auto;}
} /*end media*/

.carousel .container {
	position: relative;
	z-index: 9;
}

.carousel-caption
,.carousel a
,.carousel a:hover {
/*	color: #fff;*/
	/*text-shadow: 0 1px 1px rgba(0,0,0,.4);*/
}

.carousel-caption h1 {
	font-weight: 300;
}

.carousel-caption-top {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
}

.carousel-caption .btn {
	margin-top: 1em;
}

form ul { list-style:none;}

/* -------------------------------------------- */
/*   ########   CUSTOM    ######### */
/*#design { color: #839457;font-size: 0.9em;}*/
#design img {vertical-align:middle;margin-left:2px;width:32px;height:32px;}
#design a { color: #839457; text-decoration:none;}

.footer {
	-webkit-box-shadow:	inset 0 10px 15px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:	inset 0 10px 15px rgba(0, 0, 0, 0.1);
 	box-shadow:	inset 0 10px 15px rgba(0, 0, 0, 0.1);
}
#logo {height:100px;}

.nav { margin: 30px 0;}
.container.navbar-wrapper {
	margin: 1em 0 1em 0;
}
.head-space {margin-top: 1em;}
.tail-space {margin-bottom: 1em;}
#social-icons {font-size: 48px;margin: -14px 0 0 100px;}
#social-icons a {text-decoration:none;}
#social-icons i:hover {color:#666;}

address {font-size: 18px;}

.nav-pills > .active > a, .nav-pills > .active > a:hover
{
  color: #ffffff;
  background-color: #666666;
}

a,
a:hover {color: #666666;}

footer {font-size: 0.9em;margin-top: 2em;}
