<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Interlink Auto Transport :: {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>



    <!-- NAVBAR
    ================================================== -->
    <!-- <div class="navbar-wrapper"> -->
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <!-- <div class="container"> -->

       
      <!-- </div>--> <!-- /.container --> 
    <!--</div>--> <!-- /.navbar-wrapper -->



	<div class="container row navbar-wrapper">
		 <a href="#" class="brand col-lg-4 col-lg-offset-2"><img class="" src="img/logo.png" id="logo"></a>
	    <ul class="nav nav-pills col-lg-6">
		{% if page.title == 'Home' %}			
	  <li class="active">
		{% else %}
		<li>
		{% endif %}
		<a href="/">About</a></li>
			{% if page.title == 'Customers' %}			
		  <li class="active">
			{% else %}
			<li>
			{% endif %}			
			<a href="customers.html">Customers</a>
		  </li>

	    		{% if page.title == 'Contact' %}			
			  <li class="active">
				{% else %}
				<li>
				{% endif %}
		<a href="contact.html">Contact</a></li>
	      		{% if page.title == 'Employment' %}			
			  <li class="active">
				{% else %}
				<li>
				{% endif %}
		<a href="employment.html">Employment</a></li>
		</ul>
	</div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="photos/8329.jpg" alt="">
   
          <!-- <div class="container">
                     <div class="carousel-caption">
                       <h1>Interlink Auto Transport</h1>
                        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <a class="btn btn-large btn-primary" href="#">Contact us today</a>
                     </div>
                   </div> -->
        </div>
		<div class="item">
	       <img src="photos/8229.jpg" alt="" />
		</div>
        <div class="item">
          <img src="photos/8255.jpg" alt="" />
        </div>
		<div class="item">
     		<img src="photos/8446.jpg" alt="" />
		</div>
       <div class="item">
          <img src="photos/8303.jpg" alt="" />
        </div>
		<div class="item">
		  <img src="photos/8330.jpg" alt="" />
		  <img src="photos/8248.jpg" alt="" />
		</div>
		<div class="item">
		  <img src="photos/8489.jpg" alt="" />
		  <img src="photos/8446.jpg" alt="" />
		</div>
		<div class="item">
		  <img src="photos/8296.jpg" alt="" />
		</div>
		<div class="item">
			  <img src="photos/0776.jpg" alt="" />
		</div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">


      <!-- START THE FEATURETTES -->

{{ content }}
    
      <!-- /END THE FEATURETTES -->

      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <!-- <p class="pull-right"><a href="#">Back to top</a></p> -->

        <p class="pull-left">&copy; 2012 Interlink Auto Transport LLC <!-- &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> --></p>
		<!-- <p id="social-icons" class="pull-left">
					<a href="http://facebook.com"><i class="pull-left icon-facebook-sign muted"></i></a>
					<a href="http://twitter.com"><i class="pull-left icon-twitter-sign muted"></i></a>
					<a href="http://pinterest.com"><i class="pull-left icon-pinterest-sign muted"></i></a>
					<a href="http://plus.google.com"><i class="pull-left icon-google-plus-sign muted"></i></a>
				</p> -->
		<p id="design" class="pull-right muted">design: <a href="http://backupparachute.com">Backup Parachute Software LLC</a><img src="http://backupparachute.com/bps-small.png"/></p>
      </footer>

    </div><!-- /.container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
      // !function ($) {
      //   $(function(){
      //     // carousel demo
      //     // $('#myCarousel').carousel()
      //   })
      // }(window.jQuery)
    </script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '']);
	  _gaq.push(['_setDomainName', '']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>
