<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} : Interlink Auto Transport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/large.css">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
      <link rel="shortcut icon" href="img/favicon.png">
  </head>

  <body>



    <!-- NAVBAR
    ================================================== -->
    <!-- <div class="navbar-wrapper"> -->
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <!-- <div class="container"> -->

       
      <!-- </div>--> <!-- /.container --> 
    <!--</div>--> <!-- /.navbar-wrapper -->



	<div class="container row-fluid navbar-wrapper">
		 <a href="/" class="brand span4 offset2"><img class="" src="img/logo.png" id="logo"></a>
	    <ul class="nav nav-pills span6">
		{% if page.title == 'Home' %}			
	  <li class="active">
		{% else %}
		<li>
		{% endif %}
		<a href="/">Home</a></li>
		{% if page.title == 'About' %}			
	  <li class="active">
		{% else %}
		<li>
		{% endif %}
		<a href="about.html">About</a></li>
			{% if page.title == 'Customers' %}			
		  <li class="active">
			{% else %}
			<li>
			{% endif %}			
			<a href="customers.html">Customers</a>
		  </li>

	    		{% if page.title == 'Contact' %}			
			  <li class="active">
				{% else %}
				<li>
				{% endif %}
		<a href="contact.html">Contact</a></li>
	      		{% if page.title == 'Employment' %}			
			  <li class="active">
				{% else %}
				<li>
				{% endif %}
		<a href="employment.html">Employment</a></li>
		</ul>
	</div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

     <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <div class="container marketing">


      <!-- START THE FEATURETTES -->

{{ content }}
    
      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer class="row-fluid">
        <!-- <p class="pull-right"><a href="#">Back to top</a></p> -->

        <p class="span4">&copy; 2012-2013 Interlink Auto Transport LLC <!-- &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> --></p>
		<p class="span2">
			<a href="#" rel="popover" title="MC Number" data-content="804625"><img src="img/logo_fmcsa.png" /></a>
		</p>
		<p class="span2">
			<a href="#" title="US DOT Number" data-content="2003567"><img src="img/logo_usdot.png" /></a>
		</p>
		<p id="design" class="span4 muted">design: <a href="http://backupparachute.com">Backup Parachute Software LLC</a><img src="http://backupparachute.com/bps-small.png"/></p>
      </footer>

    </div><!-- /.container -->

    <script type="text/javascript">
             $(document).ready(function () {
               $("a").popover({
                 'selector': '',
                 'placement': 'top'
               });
             });
           </script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '']);
	  _gaq.push(['_setDomainName', '']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>
